

  <div class="container">
    <div class="content-section">
      <div class="text-content">
        <h1>Access Denied</h1>
        <div class="message">
          You don't have permission to access this page.<br>
          But we have millions more shopping items for you to browse!
        </div>
        <button class="home-btn" routerLink="/">
          Go to homepage
        </button>
      </div>
      <div class="image-section">
        <img src="./images/unauthorized.jpg" alt="access-denied" class="access-denied"/>
      </div>
    </div>
  </div>
  
