<div class="address-book-container">
    <div class="address-book-header">
      <h2>Address Book</h2>
      <button class="add-address-btn" (click)="addNewAddress()">Add new address</button>
    </div>
    
    <div class="address-card" *ngFor="let address of addresses; let i = index">
      <div class="address-details">
        <h3>{{address.addressName}}</h3>
        <p>{{address.streetAddress}}</p>
        <p>{{address.city}}, {{address.state}}</p>
        <p>{{address.country}} {{address.postalCode}}</p>
        <p>{{address.phoneNumber}}</p>
        <div class="address-tag" *ngIf="address.isDefault">Default Address</div>
      </div>
      <div class="address-actions">
        <button class="set-default-btn" *ngIf="!address.isDefault" (click)="setAsDefault(i)">
          Set as default
        </button>
        <div class="action-buttons">
          <button class="edit-btn" (click)="editAddress(i)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="#f68b1e">
              <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
            </svg>
          </button>
          <button class="delete-btn" (click)="deleteAddress(address.addressId)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="#f68b1e">
              <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
            </svg>
          </button>
        </div>
      </div>
    </div>
</div>