<div class="sidebar">
  <div
    class="menu-item"
    routerLink="/account/overview"
    routerLinkActive="active"
  >
    <i class="bi bi-person"></i> My Jumia Account
  </div>
  <div class="menu-item" routerLink="/account/orders" routerLinkActive="active">
    <i class="bi bi-box"></i> Orders
  </div>
  <!-- <div class="menu-item" routerLink="/inbox" routerLinkActive="active">
    <i class="bi bi-envelope"></i> Inbox
  </div> -->
  <!-- <div
    class="menu-item"
    routerLink="/pending-reviews"
    routerLinkActive="active"
  >
    <i class="bi bi-chat-square-text"></i> Pending Reviews
  </div> -->
  <div
    class="menu-item"
    routerLink="/account/vouchers"
    routerLinkActive="active"
  >
    <i class="bi bi-ticket-perforated"></i> Vouchers
  </div>
  <div
    class="menu-item"
    routerLink="/account/wishlist"
    routerLinkActive="active"
  >
    <i class="bi bi-heart"></i> Wishlist
  </div>
  <!-- <div
    class="menu-item"
    routerLink="/account/followed-sellers"
    routerLinkActive="active"
  >
    <i class="bi bi-shop"></i> Followed Sellers
  </div> -->
  <!-- <div
    class="menu-item"
    routerLink="/account/recently-viewed"
    routerLinkActive="active"
  >
    <i class="bi bi-clock-history"></i> Recently Viewed
  </div>

  <div class="divider"></div> -->

  <div class="menu-category">Account Management</div>
  <div
    class="menu-item"
    routerLink="/account/address"
    routerLinkActive="active"
  >
    Address Book
  </div>

  <div
    class="menu-item"
    routerLink="/account/profile"
    routerLinkActive="active"
  >
    Profile
  </div>

  <!-- <div class="menu-item" routerLink="/account/close-account" routerLinkActive="active">
    Close Account
  </div> -->

  <div class="logout-button" (click)="logout()">Logout</div>
</div>
